body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-size: 15px;
}

.accordion > li {
    border: 1px dotted gray;
    border-radius: 5px;
    padding: 10px;
}

.uk-accordion-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
